.title {
    font-size: 20px;
    color: red;
}

.age,
.city {
    font-weight: 600;
    color: rgb(150, 150, 150);
}

.green {
    color: green;
}

.user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: black;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    padding: 0px 0px 20px;
    gap: 20px;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.img {
    width: 240px;
    height: 260px;
    border-radius: 5px;
    padding: 0px 0px 40px;
}

.general-title {
    text-align: center;
}

h2,p {
    margin: 0px;
}

